#back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
    background-color: #08998E;
    border: solid white;
    border-radius: 50%;
    width: 50px;
    aspect-ratio: 1;
    cursor: pointer;
    z-index: 1000;
    transition: 300ms;
}

    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    #back-to-top-btn:hover {
        transform: scale(1.1);
        & i {
            animation: rotate 0.5s linear alternate;
        }
    }
}