.logos {
  background-color: var(--azulBebe);
  overflow: hidden;
  padding: 50px 0;
  white-space: nowrap;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.logos-slide {
  display: inline-block;
  animation: slide 35s linear infinite;  
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}


.logos-slide img {
  position: relative;
  width: 6rem;
  margin: 0 15px;
  transition: transform 0.5s;
  filter: drop-shadow(rgb(0, 0, 0) 0.1rem 0.1rem 0.1rem);
  &:hover {
    transform: scale(1.1);
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 10%;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  right: 0;
  background: linear-gradient(to right, transparent, var(--azulBebe));
}

.logos:after {
  left: 0;
  background: linear-gradient(to left, transparent, var(--azulBebe));
}

.textos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  & h1{
    font-size: 2rem;
    margin-bottom: 20px;
  }
}
.conteiner{
  height: 50vh;
  position: relative;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1000;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media (max-width: 768px) {
  .logos-slide img {
    width: 4rem;
  }

  .textos{
    & h1{
      font-size: 1.5rem;
    }
  }
}