.container {
    margin: 50px;
    width: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    width: 80%;
    max-width: 800px;
    height: auto;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    background-color: var(--brancoFundo);
}

.esquerda {
    margin-right: auto;
    margin-left: 5%;
}

.direita {
    margin-left: auto;
    margin-right: 5%;
}

.image {
    width: 100%;
    height: auto;
}


.box img {
    width: 100%;
    height: 100%;
    object-fit:scale-down;
}


.detalhes {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    color: var(--textoEscuro);
}

.direita .image {
    order: 2;
}

.direita .detalhes {
    text-align: right;
}

.box ul {
    display: flex;
    font-weight: bold;
    font-style: italic;
    gap: 10px;
    flex-wrap: wrap;
    color: var(--textoEscuro);
}

.box ul li {
    background-color: var(--azulMedio);
    padding: 5px 10px;
    border-radius: 5px;
}

.direita ul {
    justify-content: flex-end;
}

.direita .descricao {
    margin-left: auto;
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.box button {
    padding: 10px;
    width: 100%;
    background-color: var(--azulMedio);
    color: var(--textoClaro);
    border: none;
    cursor: pointer;
    font: 1.2rem var(--textoEscuro);
    transition: 0.3s;
}

.box button:hover {
    background-color: var(--azulClaro);
    color: var(--textoClaro);
}


@media (min-width: 768px) {
    .box {
        flex-direction: row;
        height: 40vh;
    }

    .image {
        width: 40%;
        height: 100%;
    }

    .detalhes {
        width: 60%;
    }

    .btns {
        align-items: flex-start;
    }
}

@media (max-width: 767px) {
    .box {
        flex-direction: column;
        height: auto;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .image,
    .detalhes {
        width: 100%;
    }

    .btns {
        align-items: center;
    }

    .descricao,
    .techstack {
        padding: 10px 0;
    }

    .esquerda {
        margin-right: 0;
        margin-left: 5%;
    }

    .direita {
        margin-left: 5%;
        margin-right: 0;
    }

    .direita .image {
        order: 0;
    }

    .direita .detalhes {
        text-align: left;
    }

    .direita ul {
        justify-content: flex-start;
    }
}