.container {
    margin: 0 50px;
    width: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    width: 80%;
    max-width: 900px;
    height: auto;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px white;
    position: relative;
    background-color: var(--brancoFundo);
    border-radius: 3px;

}

.esquerda {
    margin-right: auto;
    margin-left: 5%;
}

.direita {
    margin-left: auto;
    margin-right: 5%;
}

.image {
    width: 100%;
}


.box img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}


.detalhes {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    flex: 1 1 auto;
    box-sizing: border-box;
    position: relative;
    color: var(--textoEscuro);
}

.status-emoji {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px; /* Ajuste conforme necessário */
    cursor: help;
    cursor: pointer;
}

.status-emoji .tooltiptext {
    bottom: auto;
    top: 125%;
    right: 0;
    left: auto;
    margin-left: 0;
}

.status-emoji .tooltiptext::after {
    top: auto;
    bottom: 100%;
    right: 10px;
    left: auto;
    border-color: transparent transparent var(--azulMedio) transparent;
}

.techstack .icon {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

.direita .image {
    order: 2;
}

.direita .detalhes {
    text-align: left;
}

.box ul {
    display: flex;
    font-weight: bold;
    font-style: italic;
    gap: 10px;
    flex-wrap: wrap;
    color: var(--textoEscuro);
}

.box ul li {
    background: linear-gradient(
        to bottom right,
        var(--azulMedio),
        var(--azulClaro)
    );
    padding: 5px;
    border-radius: 5px;
}


.direita ul {
    justify-content: flex-end;
}

.direita .descricao {
    margin-left: auto;
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

.projetos-botao {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    background: linear-gradient(
        to right,
        var(--azulMedio),
        var(--azulClaro)
    );
    color: var(--textoClaro);
    border: none;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    position: relative;
}

.projetos-botao .icon {
    position: absolute;
    left: 20px;
}

.projetos-botao .link {
    position: absolute;
    right: 20px;
    display: none;
    font-size: 1rem;
}

.projetos-botao span {
    flex-grow: 1;
    text-align: center;
}

.projetos-botao:hover {
    background: linear-gradient(
        to right,
        var(--azulMedio),
        var(--azulClaro),
        var(--azulMedio)
    );
}

.image iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Media Queries para responsividade */
@media (min-width: 768px) {
    .box {
        flex-direction: row;
        height: 40vh;
    }

    .image {
        width: 40%;
        height: 100%;
    }

    .detalhes {
        width: 60%;
    }

    .btns {
        align-items: flex-start;
    }
}

@media (max-width: 767px) {
    .box {
        flex-direction: column;
        height: auto;
        width: 98%; 
        margin-left: 1%; 
        margin-right: 1%; 
    }

    .image, .detalhes {
        width: 100%;
    }

    .btns {
        align-items: center;
    }

    .descricao, .techstack {
        padding: 10px 0;
    }

    .esquerda {
        margin-left: 1%;
        margin-right: 1%;
    }
    
    .direita {
        margin-left: 1%;
        margin-right: 1%;
        text-align: left;
    }

    .direita .image {
        order: 0;
    }

    .direita .detalhes {
        text-align: left;
    }
}