.container {
    width: calc(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px;
}

.box {
    width: 100%;
    max-width: 900px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    background-color: var(--brancoFundo);
    border-radius: 5px;
}

.esquerda {
    margin-right: auto;
    margin-left: 5%;
}

.direita {
    margin-left: auto;
    margin-right: 5%;
}

.image {
    margin: auto 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 200ms;
    &:hover {
        cursor: pointer;
        scale: 1.4;
        overflow: visible;
        z-index: 10;
    }
    
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.detalhes {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    flex: 1 1 auto;
    box-sizing: border-box;
    position: relative;
    color: var(--textoEscuro);
}

.status-emoji {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.status-emoji .tooltiptext {
    top: 125%;
    right: 0;
}

.status-emoji .tooltiptext::after {
    bottom: 100%;
    right: 10px;
    border-color: transparent transparent var(--azulMedio) transparent;
}

.techstack .icon {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.direita .image {
    order: 2;
}

.direita .detalhes {
    text-align: left;
}

.box ul {
    display: flex;
    font-weight: bold;
    font-style: italic;
    gap: 10px;
    flex-wrap: wrap;
    color: var(--textoEscuro);
}

.box ul li {
    background: linear-gradient(
        to bottom right,
        var(--azulMedio),
        var(--azulClaro)
    );
    padding: 5px;
    border-radius: 5px;
}

.direita ul {
    justify-content: flex-end;
}

.direita .descricao {
    margin-left: auto;
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

.projetos-botao {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 100%;
    background: linear-gradient(
        to right,
        var(--azulMedio),
        var(--azulClaro)
    );
    color: var(--textoClaro);
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    text-decoration: none;
    position: relative;
    border-radius: 5px;
}

.projetos-botao .icon {
    position: absolute;
    left: 15px;
}

.projetos-botao .link {
    position: absolute;
    right: 15px;
    display: none;
    font-size: 1rem;
}

.projetos-botao span {
    flex-grow: 1;
    text-align: center;
}

.projetos-botao:hover {
    background: linear-gradient(
        to right,
        var(--azulMedio),
        var(--azulClaro),
        var(--azulMedio)
    );
}

.image iframe {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Media Queries para responsividade */
@media (min-width: 768px) {
    .box {
        flex-direction: row;
    }

    .image {
        width: 40%;
        height: 100%;
    }

    .detalhes {
        width: 60%;
    }

    .btns {
        align-items: flex-start;
    }
}

@media (max-width: 767px) {
    .box {
        flex-direction: column;
        height: auto;
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .image, .detalhes {
        width: 100%;
    }

    .btns {
        align-items: center;
    }

    .descricao, .techstack {
        padding: 10px 0;
    }

    .esquerda, .direita {
        margin-left: 1%;
        margin-right: 1%;
        text-align: left;
    }

    .direita .image {
        order: 0;
    }

    .direita .detalhes {
        text-align: left;
    }
}
